/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.json
composer.lock

#public/assets/js/base_url.js
#public/assets/base/*
#public/assets/base
#public/assets/.DS_Store

.DS_Store
app/.DS_Store
public/.DS_Store

#app/Helpers/Curl.php